<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link th:href="@{/styles/explore.css}" rel="stylesheet" />
    <link
      th:href="@{https://fonts.googleapis.com/css2?family=Alegreya&display=swap}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css}"
    />
    <title>Book Tribe</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
            alt="Avatar Logo"
            style="width: 40px"
            class="rounded-pill"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/home}"
                ><i class="bi bi-house-heart-fill"></i>Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/goals}"
                ><i class="bi bi-bookmark-heart-fill"></i>Reading Goals</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/tribe}"
                ><i class="bi bi-person-hearts"></i>Book Tribe</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section style="padding: 100px;" >
      <div class="container">
        <div class="main" >
          <ul id="bk-list" class="bk-list clearfix" >
            <li data-th-each="r: ${results}"> 
              <div class="bk-book book-1 bk-bookdefault" data-th-each="author: ${r.authors}">
                <div class="bk-front">
                  <div class="bk-cover-back"></div>
                  <div class="bk-cover">
                    <h2>
                          <span data-th-text="${author}"></span>
                          <span data-th-text="${r.title}"></span>
                        </h2>
                  </div>
                </div>
                <div class="bk-right"></div>
                <div class="bk-left">
                  <h2>
                    <span data-th-text="${author}"></span>
                    <span data-th-text="${r.title}"></span>
                    </h2>
                </div>
                <div class="bk-top"></div>
                <div class="bk-bottom"></div>
              </div>
              <div class="bk-info">
                <button class="bk-bookback"><i class="bi bi-bookmark-heart-fill"></i
                  > Favourite</button>
                  <a
                  th:href="@{'/search/' + ${r.id}}"><button class="bk-bookview" th:href="@{'/search/' + ${r.id}}">View inside</button></a>
              </div>
            </li>
            <li>
            </li>
            <li>
            </li>
          </ul>
        </div>
      </div>
    </section>
    

    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
