<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link th:href="@{/styles/inspire.css}" rel="stylesheet" />
    <link
      th:href="@{https://fonts.googleapis.com/css2?family=Alegreya&display=swap}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css}"
    />
    <title>Book Tribe</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #6c584c">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/profile}">
          <img
          data-th-src="@{${userDetails.profile}}"
            alt="Profile"
            style="width: 50px; height: 50px" class="rounded-circle" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" style="color: white" th:href="@{/profile}"><i class="bi bi-house-heart-fill"></i> Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white" th:href="@{/goals}"><i class="bi bi-bookmark-heart-fill"></i>
                Reading Goals
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white" th:href="@{/tribe}"><i class="bi bi-person-hearts"></i> Book Tribe
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white" th:href="@{/inspire}"><i class="bi bi-moon-stars-fill"></i> Inspire
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white" th:href="@{/about}"><i class="bi bi-book-half"></i> About
              </a>
            </li>
          </ul>
          <form class="d-flex" action="/search" method="GET">
            <input class="form-control me-2" type="text" name="book" id="book" placeholder="Book Name" />
            <button class="btn btn-outline-light" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </form>
          <div style="margin-left: 50px">
            <form class="d-flex" action="/logout" method="post">
              <button class="btn btn-outline-light" type="submit">
                <i class="bi bi-door-closed-fill"></i> Logout
              </button>
            </form>
          </div>
        </div>
      </div>
    </nav>

    <section style="padding: 100px 100px 0px 100px">
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/playlist/2EM0qQv4fs18KxMts3vcRn?utm_source=generator"
        width="100%"
        height="80"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
      ></iframe>
    </section>

    <section class="quote" data-th-each="q: ${quote}" style="padding: -500px">
      <article class="container">
        <h1>Quote of the Day</h1>

        <blockquote>
          <p data-th-text="${q.content}"></p>
        </blockquote>
        <b data-th-text="${q.author}"></b>
      </article>
    </section>

    <br>

    <section style="padding: 200px" data-th-each="p: ${poem}" >
      <h1 class="poemHeader">Poem of the Day</h1>
      <div class="letter poemHeader">
        <h3 data-th-text="${p.title}"></h3>
        <h6> - <span data-th-text="${p.author}"></span></h6>

        <br>
        <p data-th-each="c: ${p.poemContent}"><span data-th-text="${c}"></span></p>
      
      </div>
    </section>

    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
